Web TV Sender Check.json
{
  "name": "Web TV Sender Check",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sender-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "your-webhook-id"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.action}}",
              "operation": "equals",
              "value2": "select"
            }
          ]
        }
      },
      "name": "Action Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.body?.senderName ?? \"\";\nconst userId = $json.body?.userId ?? \"\";\n\nlet t = msg\n  .replace(/^\\/\\w+(?:@\\w+)?\\s*/i, \"\")\n  .replace(/^\\s+|\\s+$/g, \"\");\n\nt = t\n  .replace(/^\\s*(ist|geht|läuft)\\s+(der|die|das)\\s+kanal\\s+/i, \"\")\n  .replace(/^\\s*(ist|geht|läuft)\\s+/i, \"\")\n  .replace(/\\s+(down|online|an|aus|gerade)\\s*$/i, \"\")\n  .replace(/[?!.]+$/g, \"\")\n  .replace(/\\s+/g, \" \")\n  .trim();\n\nif (!t) t = msg.trim();\n\nreturn [{\n  json: {\n    channel_query: t,\n    user_id: userId\n  }\n}];"
      },
      "name": "Parse Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 180]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\nif (!body?.senderId) return [];\n\nreturn [{\n  json: {\n    chosen_id: Number(body.senderId),\n    user_id: body.userId\n  }\n}];"
      },
      "name": "Parse Selection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 420]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- DEINE KOMPLETTE BESTEHENDE QUERY!\nWITH inp AS (...)\nSELECT stream_id, name, direct_source, total_score\nFROM filtered\nORDER BY total_score DESC\nLIMIT 5;",
        "options": {
          "queryReplacement": "={{ $json.channel_query }}"
        }
      },
      "name": "DB Search",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [900, 180]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT stream_id, name, direct_source\\nFROM channels\\nWHERE stream_id = $1\\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $json.chosen_id }}"
        }
      },
      "name": "DB Search by ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [900, 420]
    },
    {
      "parameters": {
        "jsCode": "// DEINE BESTEHENDE MATCH-LOGIK!\nconst rows = $input.all().map(i => i.json);\nconst wanted = $item(0).$node[\"Parse Query\"]?.json?.channel_query ?? \"\";\nconst userId = $item(0).$node[\"Parse Query\"]?.json?.user_id ?? null;\n\nif (!rows.length) {\n  return [{ json: { found: false, need_choice: false, suggestions: [], wanted, user_id: userId }}];\n}\n\nrows.sort((a,b) => (b.total_score ?? 0) - (a.total_score ?? 0));\nconst top = rows[0];\nconst second = rows[1];\nconst suggestions = rows.slice(0, 5).map(r => ({ id: r.stream_id, name: r.name }));\n\nconst gap = (top.total_score ?? 0) - (second?.total_score ?? -Infinity);\nconst needChoice = rows.length > 1 && gap < 0.25;\n\nif (needChoice) {\n  return [{ json: { found: false, need_choice: true, suggestions, wanted, user_id: userId }}];\n}\n\nif (top?.direct_source && /^https?:\\/\\//i.test(top.direct_source)) {\n  return [{ json: { found: true, need_choice: false, match_name: top.name, stream_id: top.stream_id, probe_url: top.direct_source, suggestions, wanted, user_id: userId }}];\n}\n\nreturn [{ json: { found: false, need_choice: false, suggestions, wanted, user_id: userId }}];"
      },
      "name": "Match Channel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 180]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.need_choice}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Needs Selection?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"needs_selection\", \"message\": \"Mehrere Sender gefunden\", \"senders\": $json.suggestions } }}"
      },
      "name": "Respond: Selection",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 80]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"checking\", \"message\": \"Prüfe \" + $json.match_name, \"senderId\": $json.stream_id } }}"
      },
      "name": "Respond: Start Check",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 280]
    },
    {
      "parameters": {
        "url": "={{$json.probe_url}}",
        "method": "HEAD",
        "options": {
          "timeout": 8000,
          "fullResponse": true,
          "neverError": true
        }
      },
      "name": "HTTP Test",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 280]
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\\nurl=\"{{ $json.probe_url }}\"\\n# DEIN KOMPLETTES BASH-SCRIPT!"
      },
      "name": "SSH Stability Test",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [2220, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-website.com/api/n8n/webhook",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"userId\": $json.user_id, \"senderId\": $json.stream_id, \"status\": $json.live ? \"online\" : \"offline\", \"message\": $json.output, \"details\": JSON.stringify({ quality: $json.quality, latency: $json.avg_latency_ms }) } }}",
        "options": {}
      },
      "name": "Send to Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2660, 280]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Action Router", "type": "main", "index": 0 }]]
    },
    "Action Router": {
      "main": [
        [{ "node": "Parse Query", "type": "main", "index": 0 }],
        [{ "node": "Parse Selection", "type": "main", "index": 0 }]
      ]
    },
    "Parse Query": {
      "main": [[{ "node": "DB Search", "type": "main", "index": 0 }]]
    },
    "Parse Selection": {
      "main": [[{ "node": "DB Search by ID", "type": "main", "index": 0 }]]
    },
    "DB Search": {
      "main": [[{ "node": "Match Channel", "type": "main", "index": 0 }]]
    },
    "Match Channel": {
      "main": [[{ "node": "Needs Selection?", "type": "main", "index": 0 }]]
    },
    "Needs Selection?": {
      "main": [
        [{ "node": "Respond: Selection", "type": "main", "index": 0 }],
        [{ "node": "Respond: Start Check", "type": "main", "index": 0 }]
      ]
    },
    "Respond: Start Check": {
      "main": [[{ "node": "HTTP Test", "type": "main", "index": 0 }]]
    },
    "HTTP Test": {
      "main": [[{ "node": "SSH Stability Test", "type": "main", "index": 0 }]]
    },
    "SSH Stability Test": {
      "main": [[{ "node": "Send to Website", "type": "main", "index": 0 }]]
    }
  }
}